{% extends 'base.html.twig' %}

{% block title %}Arsenal List{% endblock %}

{% block body %}
<style>
	table {
		max-width: 90vw;
		margin-left: 5vw;
		font-size:1.2rem;	
	}
	
	td,th {
	height: 4vh;
	padding:0 !important;
	}
	
    /*this applies only to the table not the nav*/
    table a {
        text-decoration: none;
        color: inherit;
        display: block; 
        width: 100%;
        height: 100%;
        padding: 2vh 0 2vh 0;
    }
    
    a:hover{
    	color:black;
    }
    
</style>

<h1>Arsenal list</h1>
<h3>Browse through arsenals below</h3>

<table class="table table-hover table">
  <thead class="">
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for arsenal in arsenals %}
    <tr>
        <th scope="row">
            <a href="{{ path('arsenal_show', {'id': arsenal.id}) }}">
                {{ arsenal.id }}
            </a>
        </th>
        <td>
            <a href="{{ path('arsenal_show', {'id': arsenal.id}) }}">
                {{ arsenal.description }}
            </a>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

